@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 33% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 33% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220 100% 48%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95%;
    --muted-foreground: 220 8.9% 40%;
    --accent: 220 14.3% 95%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 215.94 100% 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215.94 27.9% 8%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215.94 27.9% 8%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215.94 27.9% 8%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215.94 27.9% 12%;
    --input: 215.94 27.9% 12%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .section {
    @apply py-16 md:py-24 space-y-6;
  }
}
.bn-editor {
  @apply !bg-transparent !p-0 !leading-relaxed;
}
.bn-editor p {
  @apply !mb-1;
}
.bn-editor a {
  @apply underline transition hover:text-primary;
}
